<!-- app.component.html -->

<div class="menu-container">
  <h1>Menu de Bolachas</h1>
  
  <app-categoriabolacha title="AMANTEIGADAS"></app-categoriabolacha>

  <div class="menu-list">
    <app-bolacha nome="Amanteigada Cereja" imagem="./assets/coming-soon.png" quantidade="12"></app-bolacha>
    <app-bolacha nome="Amanteigada Maracuja" imagem="./assets/coming-soon.png" quantidade="12"></app-bolacha>
    <app-bolacha nome="Amanteigada Ovomaltine" imagem="./assets/coming-soon.png" quantidade="12"></app-bolacha>
  </div>

  <br>
  <app-categoriabolacha title="CASADINHAS"></app-categoriabolacha>
  <br>

  <div class="menu-list">
    <app-bolacha nome="Casadinho de Churros" imagem="./assets/coming-soon.png" quantidade="6"></app-bolacha>
    <app-bolacha nome="Casadinho de Churros 2" imagem="./assets/coming-soon.png" quantidade="6"></app-bolacha>
  </div>

  <br>
  <app-categoriabolacha title="PÃO DE MEL"></app-categoriabolacha>
  <br>

  <div class="menu-list">
    <app-bolacha nome="Pão de Mel" imagem="./assets/coming-soon.png" quantidade="1"></app-bolacha>
  </div>

  <br>
  <app-categoriabolacha title="BROWNIE"></app-categoriabolacha>
  <br>

  <div class="menu-list">
    <app-bolacha nome="Brownie" imagem="./assets/coming-soon.png" quantidade="1"></app-bolacha>
  </div>

</div>

<footer>
  <a href="https://wa.me/55011995150852/?text=Gostaria%20de%20realizar%20uma%20encomenda" target="_blank">
    <img src="/assets/whatsapp.png">
    <p>WhatsApp</p>
  </a>

  <a href="https://www.instagram.com/vivi.arte.em.bolachas/" target="_blank">
    <img src="/assets/instagram.webp">
    <p>Instagram</p>
  </a>

  <p class="mathfooter">Feito por <a href="https://github.com/matheuspascui" target="_blank">@matheuspascui</a></p>
</footer>